<% let now = syzoj.utils.getCurrentDate(); %>
<div class="ui large info message" style="height: 130px;">
  <div class="ui grid">
    <div class="three wide">
      <div class="ui header">比赛模式 - <%= contest.title %></div>
      <% if (now < contest.end_time) { %>
      <p>您正在参加一个比赛。</p>
      <% } else { %>
      <p>比赛已结束</p>
      <% } %>
      <div class="ui buttons">
        <a class="small ui primary button" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>">比赛主页</a>
        <% const seeResult = (isSupervisior || contest.ended);
        let submissionsUrl = seeResult ?
        syzoj.utils.makeUrl(['submissions'], {contest: contest.id}) :
        syzoj.utils.makeUrl(['contest', contest.id, 'submissions']); %>
        <a class="small ui positive button" href="<%= submissionsUrl %>">提交记录</a>
        <% if (contest.type !== 'noi' || user && isSupervisior) { %>
        <a class="small ui orange button"
          href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'ranklist']) %>">比赛榜单</a>
        <% } %>
      </div>
      <% if (isSupervisior) { %>
      <div class="ui buttons">
        <a class="ui small button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'edit']) %>">编辑比赛</a>
        <a class="ui small button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'export_rank']) %>">榜单导出</a>
        <a class="ui small button"
          href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'export_submissions']) %>">代码导出</a>
      </div>
      <% } %>
    </div>
    <% if (now < contest.end_time) { %>
    <div class="ui three wide right floated column">
      <div id="time_counter_block"
        style="position: absolute; top: 50%; left: 100%; transform: translate(-135%, -50%);background-color: rgba(0,0,0,0);border: 0px;  width: fit-content; height: fit-content;">
        <h2 style="orange" id="_t" style="font-size: 24px; height: fit-content; color: orange;"></h2>
      </div>
    </div>

    <script type="text/javascript">
      $(function () {
        setInterval(function () {
          var leftTime = Number("<%= contest.end_time %>") - Date.now() / 1000;
          if (leftTime >= 0) {
            h = Math.floor(leftTime / 60 / 60);
            m = Math.floor(leftTime / 60 % 60);
            s = Math.floor(leftTime % 60);
            document.getElementById("_t").innerHTML = h.toString() + ":" + m.toString().padStart(2, 0) + ":" + s.toString().padStart(2, 0);
          }
        }, 1000);
      });
    </script>
    <% } %>
  </div>
</div>