<h4 class="ui top attached block header"><i class="ui signal icon"></i>排名</h4>
<div class="ui bottom attached segment">
  <table class="ui very basic center aligned table">
    <thead>
      <tr>
          <th style="width: 50px; ">#</th>
          <th style="width: 170px; ">用户名</th>
          <th>积分</th>
      </tr>
    </thead>
    <tbody>
      <%
      let i = 0;
      for (let user of ranklist) {
        ++i;
      %>
          <tr>
              <td><b><%= i %></b></td>
              <td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.username %></a><% if (user.nameplate) { %><%- user.nameplate %><% } %></td>
              <td><%= user.rating %></td>
          </tr>
      <%  } %>
    </tbody>
  </table>
</div>