<% this.adminPage = 'teachers'; %>
<% include ../admin_header %>

<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>

  <div class="ui grid" style="margin-bottom: 25px;">
    <div class="five wide column">
      <form action="<%= syzoj.utils.makeUrl(['contests']) %>" class="ui mini form" method="get" role="form" id="form">
        <div>
          <div class="ui action input">
            <input name="kargs" placeholder="筛选..." style="width: 400px; " type="text" value="">
            <button class="ui icon button"><i class="search icon"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="right floated four wide column" style="width: 400px !important;">
      <select class="ui fluid search dropdown" id="search_user" multiple>
        <option value="">模糊搜索，添加为管理员</option>
      </select>
    </div>
  </div>
  <% if (userlist.length) { %>
  <% if (user && user.is_admin) { %><% } %>
  <table class="ui very basic center aligned table">
    <thead>
      <tr>
        <th class="ui one wide">ID</th>
        <th class="ui three wide">用户名</th>
        <th class="ui three wide">昵称</th>
        <th class="ui three wide">实名</th>
        <th class="ui"></th>
        <th class="ui one wide center aligned">操作</th>
      </tr>
    </thead>
    <tbody id="data-dable">
      <% for (let user of userlist) { %>
      <tr id="row-<%= user.id %>"  style="height: 24px">
        <td ><%= user.id %></td>
        <td ><%= user.username %></td>
        <td ><%= user.nickname %></td>
        <td ><%= user.realname %></td>
        <td></td>
        <td >
          <div class="ui buttons">
            <button type="button" onclick="deleteRow(this);" class="ui icon button"><i class="trash alternate icon"></i></button>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } else { %>
  <div class="ui placeholder segment">

  </div>
  <% } %>
  <br>
  <% include ../../page %>

<script>  
$(function () {
  $('#search_user').dropdown({
    debug: true,
    apiSettings: {
      url: '/api/v3/search/users/{query}',
      cache: false
    },
    onChange: (val, name, e) => {
      if (val){
        row = e.split('\t');
        console.log(row);
        if (update(row[0].replace("#", ''), true)){
          addobjstr = '<tr style="height: 24px">'
            + '<td>' + row[0].replace("#", '') + '</td>'
            + '<td>' + row[1] + '</td>'
            + '<td>' + row[2] + '</td>'
            + '<td>' + row[3] + '</td>'
            + '<td></td>'
            + '<td><div class="ui buttons"><button type="button" onclick="deleteRow(this);" class="ui mini icon button"><i class="trash alternate icon"></i></button></div></td>'
            + '</tr>'
          $('#data-dable').append(addobjstr);
        }
      }
      $('#search_user').dropdown('clear'); 
    }
  });
})

function deleteRow(obj){
  row = $(obj).parents("tr").find('td');
  if (update($(row[0]).text(), false)){
    rmobj = obj.parentNode.parentNode.parentNode;
    rmobj.parentNode.removeChild(rmobj);
  }
  return false;
}

function update(id, enable){
  console.log("Update: ", id, enable);
  $.ajaxSettings.async = false;
  var res = $.post(
    '/admin/teacher/update',
    {
      uid: id,
      enable: enable
    },
    function(res){ return res; },
  )
  console.log(res);
  console.log(res.responseText);
  return Boolean(JSON.parse(res.responseText).success);
}
</script>
<% include ../admin_footer %>
